.container {
  width: 100%;
  padding: 10px;
  padding-top: 16px;
  margin: 20px 0;
  margin-left: 0;
}

.actionsRow {
  padding-top: 10px;
}

.button {
  margin: 10px !important;
}

.input {
  margin: 20px 8px !important;
  width: 300px;
}
