.container {
  max-width: 700px;
  width: 100%;
  padding: 10px;
  padding-top: 16px;
  margin-bottom: 20px;
}

.actionsRow {
  padding-top: 20px;
}

.button {
  margin: 10px !important;
}

.phraseInput {
  width: 400px;
}
